<div class="container">
  <div class="mb-3">
    <label for="newName" class="form-label">Server Name</label>
    <input
      type="text"
      class="form-control"
      id="newName"
      placeholder="Example server namer"
      name="newName"
      [(ngModel)]="newName"
      required
    />
  </div>
  <div class="mb-3">
    <label for="newContent" class="form-label">Server Content</label>
    <input
      type="text"
      class="form-control"
      id="newContent"
      placeholder="Example Content"
      name="newContent"
      [(ngModel)]="newContent"
      required
    />
  </div>
  <button class="btn btn-primary m-1" (click)="onAddServer()">
    Add Server
  </button>
  <button
    type="button"
    class="btn btn-secondary"
    (click)="onAddBluePrint()"
  >
    Add Server Blueprint
  </button>
  <h6>Add server to list: {{ newName }} {{ newContent }}</h6>
</div>
